<p id="notice"><%= notice %></p>

<h1>Stock</h1>
<div class="container">
  <div class="p-3 mb-2 bg-secondary row">
  <h3>Filters</h3>
    <div class="col">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Account
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href='/users/<%=current_user.id%>' > <%=current_user.name%></a>
        </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Yugioh set
        </button>
        <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
          <% @yugioh_sets.each do |set| %>
            <a class="dropdown-item">  <%= link_to "#{set.name}", request.params.merge(yugioh_set_id: "#{set.id}") %> </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      Max Price
      <%= form_tag(stocks_path, method: :get) do %>
      <%= number_field_tag :price %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>Card</th>
            <th>Yugioh set</th>
            <th>Print tag</th>
            <th>Price</th>
            <th>Quantity</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @stocks.each do |stock| %>
            <tr>
              <td><%= stock.card.name%></td>
              <td><%= stock.yugioh_set.name %></td>
              <td><%= stock.print_tag %></td>
              <td><%= stock.price %></td>
              <td><%= stock.quantity %></td>
              <td><%= link_to 'Show', stock %></td>
              <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
              <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <%= will_paginate @stocks %>

      <%= link_to 'New Stock', new_stock_path %>
    </div>

  </div>
</div>
