<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-">
        <img class="card-img-top" src="http://yugiohprices.com/api/card_image/<%= @stock.card.name %>" alt="Card image cap" width = 200 height="400">
    </div>
    <div class="col">
<p>
  <strong>Card:</strong>
  <%= @stock.card.name %>
</p>

<p>
  <strong>Yugioh set:</strong>
  <%= @stock.yugioh_set.name %>
</p>

<p>
  <strong>Print tag:</strong>
  <%= @stock.print_tag %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>
<p><%= link_to 'Order Now',new_order_path(:stock_id => @stock) %><p>
<p><%= link_to 'See card information' ,"/cards/#{@stock.card.id}" %><p>
</div>
</div>
</div>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
