<p id="notice"><%= notice %></p>
<div id="container" style="width:100%; height:400px;"></div>
<script>
  
Highcharts.chart('container', {

    title: {
        text: 'Number of sets released over the years'
    },


    yAxis: {
        title: {
            text: 'Number of Sets'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2010
        }
    },

    series: [{
        name: <%=@years%>,
        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
        name: 'Manufacturing',
        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }, {
        name: 'Sales & Distribution',
        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
    }, {
        name: 'Project Development',
        data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
    }, {
        name: 'Other',
        data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<h1>Yugioh Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yugioh_sets.each do |yugioh_set| %>
      <tr>
        <td><%= yugioh_set.name %></td>
        <td><%= yugioh_set.code %></td>
        <td><%= yugioh_set.year %></td>
        <td><%= link_to 'Show', yugioh_set %></td>
        <td><%= link_to 'Edit', edit_yugioh_set_path(yugioh_set) %></td>
        <td><%= link_to 'Destroy', yugioh_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yugioh Set', new_yugioh_set_path %>
