<table>
  <thead>
    Summary
    <tr>
      <th>Card Name</th>
      <th> Print_Tag </th>
      <th>Quanity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @current_user_orders != nil %>
    <% @current_user_orders.each do |ord| %>
    <% if ord.payment == nil%>
      <tr>
        <td><%= ord.stock.card.name %></td>
        <td><%= ord.stock.print_tag%></td>
        <td><%= ord.quantity %></td>
        <td><%= ord.stock.price.to_f * ord.quantity.to_f%></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= render 'form', payment: @payment %>

<%= link_to 'Back', payments_path %>
