<p id="notice"><%= notice %></p>

<h1>Cards</h1>
<div id="container" style="width:100%; height:400px;"></div>
  <script>
    Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Yugioh Card Types'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Main Card Types',
        colorByPoint: true,
        data: [
        <% @types.each do |type| %>
        {
            name: "<%="#{type}"%>",
            y: <%= Card.where(card_type: "#{type}").count %>
        },
        <%end%>

        ]
    }]
});

</script>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Card type</th>
      <th>Level</th>
      <th>Race</th>
      <th>Card attribute</th>
      <th>Atk</th>
      <th>Def</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.card_type %></td>
        <td><%= card.level %></td>
        <td><%= card.race %></td>
        <td><%= card.card_attribute %></td>
        <td><%= card.atk %></td>
        <td><%= card.def %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @cards %>
<%= link_to 'New Card', new_card_path %>
