
<div class="card text-center">
  <div class="card-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cards">Card Information </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/yugioh_sets">Set Information </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stocks">Stock</a>
          </li
        </ul>
    </div>
    <div class="mx-auto order-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <%= form_tag(stocks_path, method: :get) do %>
        <%= text_field_tag :term %>
        <button class="btn btn-secondary" type="submit" >Search</button>
        <% end %>

        </li>

      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <% if current_user == nil %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% else %>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href='/users/<%=current_user.id%>' > <%=current_user.name%></a>
          <a class="dropdown-item" href="/cart/cart">My Cart</a>
          <a class="dropdown-item" href="/credit_cards/new">Set up a new credit card</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
          <% end %>
            <li class="nav-item">
              <%= image_tag("GlobeLogo.png", size: "100x50") %>
            </li>
        </ul>
    </div>
</nav>
</div>
</div>
